@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1639058883133') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-back:before {
  content: "\e662";
}

.icon-news:before {
  content: "\e617";
}

.icon-card-hero:before {
  content: "\e61f";
}

.icon-Menu:before {
  content: "\e664";
}

.icon-menu:before {
  content: "\e63e";
}

